In [2]:
import pandas as pd
from pathlib import Path
X_train = pd.read_csv(Path(r"C:\Users\90553\Documents\ml_data_analysis\data\X_train.csv"),sep=r"\s+")
Y_train = pd.read_csv(Path(r"C:\Users\90553\Documents\ml_data_analysis\data\Y_train.csv"),header=None, names=['category'])
X_test = pd.read_csv(Path(r"C:\Users\90553\Documents\ml_data_analysis\data\X_test.csv"),sep=r"\s+")
Y_test = pd.read_csv(Path(r"C:\Users\90553\Documents\ml_data_analysis\data\Y_test.csv"),header=None, names=['category'])
print(X_train.shape, Y_train.shape, X_test.shape, Y_test.shape)

(1668, 9635) (1668, 1) (557, 9635) (557, 1)

In [3]:
X_train.head()

,ad,sale,boost,time,warner,profit,quarterli,media,giant,jump,...,Â£339,denialofservic,ddo,seagrav,bot,wirelessli,streamcast,peripher,headphon,flavour
0,1,1,0,0,0,0,0,4,1,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [4]:
Y_train.head()

   category
0         4
1         1
2         1
3         0
4         0

In [6]:
XY_train = pd.concat([X_train, Y_train], axis=1)
print(XY_train.shape)
XY_train.head()

(1668, 9636)

,ad,sale,boost,time,warner,profit,quarterli,media,giant,jump,...,denialofservic,ddo,seagrav,bot,wirelessli,streamcast,peripher,headphon,flavour,category
0,1,1,0,0,0,0,0,4,1,0,...,0,0,0,0,0,0,0,0,0,4
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [9]:
word = "alien"
counts = XY_train.groupby('category')[word].sum().reset_index()
counts.columns = ['category', 'count']
print(counts)

   category  count
0         0      0
1         1      1
2         2      3
3         3      0
4         4      3

In [13]:
word = "thunder"
counts = XY_train.groupby('category')[word].sum().reset_index()
print(counts.head())
counts.columns = ['category', 'count']

   category  thunder
0         0        0
1         1        0
2         2        0
3         3        3
4         4        0

In [15]:
selected = XY_train.loc[:, ['category', 'thunder', 'alien']]
print(selected.head())
counts = selected.groupby('category').sum()
print(counts)

   category  thunder  alien
0         4        0      0
1         1        0      0
2         1        0      0
3         0        0      0
4         0        0      0
          thunder  alien
category
0               0      0
1               0      1
2               0      3
3               3      0
4               0      3

In [16]:
# assuming last column is 'category'
word_cols = XY_train.columns.drop('category')

counts = XY_train.groupby('category')[word_cols].sum().sum(axis=1).reset_index(name='total_word_count')
print(counts)

   category  total_word_count
0         0             63889
1         1             48010
2         2             71554
3         3             62439
4         4             78433