In [7]:
import pandas as pd
from pathlib import Path
X_train = pd.read_csv(Path(r"C:\Users\90553\Documents\ml_data_analysis\data\X_train.csv"),sep=r"\s+")
Y_train = pd.read_csv(Path(r"C:\Users\90553\Documents\ml_data_analysis\data\Y_train.csv"),header=None, names=['category'])
X_test = pd.read_csv(Path(r"C:\Users\90553\Documents\ml_data_analysis\data\X_test.csv"),sep=r"\s+")
Y_test = pd.read_csv(Path(r"C:\Users\90553\Documents\ml_data_analysis\data\Y_test.csv"),header=None, names=['category'])
print(X_train.shape, Y_train.shape, X_test.shape, Y_test.shape)

(1668, 9635) (1668, 1) (557, 9635) (557, 1)

In [8]:
X_train.loc[:] = (X_train.loc[:] > 0).astype(int)

X_train.head()

,ad,sale,boost,time,warner,profit,quarterli,media,giant,jump,...,Â£339,denialofservic,ddo,seagrav,bot,wirelessli,streamcast,peripher,headphon,flavour
0,1,1,0,0,0,0,0,1,1,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [19]:
XY_train = pd.concat([X_train, Y_train], axis=1)
XY_train.head()

,ad,sale,boost,time,warner,profit,quarterli,media,giant,jump,...,denialofservic,ddo,seagrav,bot,wirelessli,streamcast,peripher,headphon,flavour,category
0,1,1,0,0,0,0,0,1,1,0,...,0,0,0,0,0,0,0,0,0,4
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [20]:
XY_train.loc[:, XY_train.columns != 'category'] = XY_train.loc[:, XY_train.columns != 'category'] + 1
XY_train.head()

,ad,sale,boost,time,warner,profit,quarterli,media,giant,jump,...,denialofservic,ddo,seagrav,bot,wirelessli,streamcast,peripher,headphon,flavour,category
0,2,2,1,1,1,1,1,2,2,1,...,1,1,1,1,1,1,1,1,1,4
1,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
2,2,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
3,1,1,2,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,0
4,1,1,1,2,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,0

In [21]:
word_counts = XY_train.groupby('category').sum()
word_counts.head()

,ad,sale,boost,time,warner,profit,quarterli,media,giant,jump,...,Â£339,denialofservic,ddo,seagrav,bot,wirelessli,streamcast,peripher,headphon,flavour
category,,,,,,,,,,,,,,,,,,,,,
0,470,485,439,495,375,452,384,394,436,399,...,375,375,375,375,375,375,375,375,375,375
1,349,329,293,386,289,290,284,306,295,288,...,284,284,284,284,284,284,284,284,284,284
2,427,324,343,456,319,322,320,339,322,322,...,319,319,319,319,319,319,319,319,319,319
3,497,399,392,544,377,377,377,389,382,394,...,377,377,377,377,377,377,377,377,377,377
4,403,363,328,461,319,325,315,385,355,318,...,315,316,316,316,318,314,316,316,316,315

In [29]:
word_count_per_category = word_counts.sum(axis=1)
print(word_count_per_category.head())

prior_prob = word_count_per_category / word_count_per_category.sum(axis=0)
print(prior_prob.head())
print(prior_prob.sum())
prior_prob = np.log(prior_prob)
print(prior_prob.head())

category
0    3657366
1    2769201
2    3120588
3    3676104
4    3065181
dtype: int64
category
0    0.224538
1    0.170010
2    0.191583
3    0.225688
4    0.188181
dtype: float64
1.0
category
0   -1.493712
1   -1.771897
2   -1.652434
3   -1.488602
4   -1.670349
dtype: float64

In [30]:
word_prob =word_counts.div(word_count_per_category, axis=0)
word_prob.head()

,ad,sale,boost,time,warner,profit,quarterli,media,giant,jump,...,Â£339,denialofservic,ddo,seagrav,bot,wirelessli,streamcast,peripher,headphon,flavour
category,,,,,,,,,,,,,,,,,,,,,
0,0.000129,0.000133,0.000120,0.000135,0.000103,0.000124,0.000105,0.000108,0.000119,0.000109,...,0.000103,0.000103,0.000103,0.000103,0.000103,0.000103,0.000103,0.000103,0.000103,0.000103
1,0.000126,0.000119,0.000106,0.000139,0.000104,0.000105,0.000103,0.000111,0.000107,0.000104,...,0.000103,0.000103,0.000103,0.000103,0.000103,0.000103,0.000103,0.000103,0.000103,0.000103
2,0.000137,0.000104,0.000110,0.000146,0.000102,0.000103,0.000103,0.000109,0.000103,0.000103,...,0.000102,0.000102,0.000102,0.000102,0.000102,0.000102,0.000102,0.000102,0.000102,0.000102
3,0.000135,0.000109,0.000107,0.000148,0.000103,0.000103,0.000103,0.000106,0.000104,0.000107,...,0.000103,0.000103,0.000103,0.000103,0.000103,0.000103,0.000103,0.000103,0.000103,0.000103
4,0.000131,0.000118,0.000107,0.000150,0.000104,0.000106,0.000103,0.000126,0.000116,0.000104,...,0.000103,0.000103,0.000103,0.000103,0.000104,0.000102,0.000103,0.000103,0.000103,0.000103

In [31]:
import numpy as np
word_prob = np.log(word_prob)
word_prob.head()

,ad,sale,boost,time,warner,profit,quarterli,media,giant,jump,...,Â£339,denialofservic,ddo,seagrav,bot,wirelessli,streamcast,peripher,headphon,flavour
category,,,,,,,,,,,,,,,,,,,,,
0,-8.959521,-8.928105,-9.027754,-8.907696,-9.185328,-8.998572,-9.161611,-9.135903,-9.034612,-9.123292,...,-9.185328,-9.185328,-9.185328,-9.185328,-9.185328,-9.185328,-9.185328,-9.185328,-9.185328,-9.185328
1,-8.978997,-9.038012,-9.153897,-8.878232,-9.167643,-9.164188,-9.185095,-9.110484,-9.147094,-9.171109,...,-9.185095,-9.185095,-9.185095,-9.185095,-9.185095,-9.185095,-9.185095,-9.185095,-9.185095,-9.185095
2,-8.896748,-9.172788,-9.115802,-8.831039,-9.188341,-9.178980,-9.185211,-9.127532,-9.178980,-9.178980,...,-9.188341,-9.188341,-9.188341,-9.188341,-9.188341,-9.188341,-9.188341,-9.188341,-9.188341,-9.188341
3,-8.908774,-9.128403,-9.146102,-8.818415,-9.185119,-9.185119,-9.185119,-9.153785,-9.171943,-9.141013,...,-9.185119,-9.185119,-9.185119,-9.185119,-9.185119,-9.185119,-9.185119,-9.185119,-9.185119,-9.185119
4,-8.936681,-9.041214,-9.142604,-8.802219,-9.170426,-9.151792,-9.183045,-8.982374,-9.063499,-9.173566,...,-9.183045,-9.179875,-9.179875,-9.179875,-9.173566,-9.186224,-9.179875,-9.179875,-9.179875,-9.183045

In [32]:
X_test.to_numpy()
word_prob.to_numpy()
prior_prob.to_numpy()
print(X_test.shape, word_prob.shape, prior_prob.shape)

(557, 9635) (5, 9635) (5,)

In [ ]:
predictions = X_test.dot(word_prob.T) + prior_prob
predicted_classes = predictions.idxmax(axis=1)
predicted_classes.head()

0    1
1    1
2    0
3    0
4    0
dtype: int64

In [39]:
compare_df = pd.DataFrame(predicted_classes, columns=['predicted'])
pd.concat([compare_df, Y_test.reset_index(drop=True)], axis=1)
correct_predictions = compare_df['predicted'] == Y_test['category']
accuracy = correct_predictions.sum() / len(correct_predictions)
print(f"Accuracy: {accuracy:.4f}")

Accuracy: 0.9174